<div class="container mb-5">
  <div class="booking-container mb-5">
    <% @pokemon.images.each do |image| %>
      <%= cl_image_tag image.key, crop: :fill, class: "pokemon-images" %>
    <% end %>


    <div class="card booking-main">

      <div class="pokemon-details">
        <h1>Book <%= @pokemon.name %></h1>
        <h3><strong>Type:</strong> <%= @pokemon.pokemon_type %></h3>
        <p>ℹ️ <%= @pokemon.description %></p>
        <p>📍 <%= @pokemon.location %></p>
      </div>

      <%= simple_form_for [@pokemon, @booking], data: { controller: "price" } do |f| %>
        <div class="booking-details">
          <div class="input-group-booking">
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", target: "price.startDate", action: "input->price#updateTotalPrice" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", target: "price.endDate", action: "input->price#updateTotalPrice" } } %>
          </div>
        <%= f.submit "Reserver", class: "btn-booking" %>
        </div>

        <div class="booking-price">
          <p>Price per day: <span id="pricePerDay"><%= @pokemon.price %></span>€
          <br><strong>Total price: <span id="total-price" data-price-target="totalPrice"></span></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
