<div class="container my-5">
  <div class="booking-container mb-5">

    <div id="carouselShowPokemon" class="carousel slide">
      <div class="carousel-inner">
        <% @pokemon.images.each_with_index do |image, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= cl_image_tag image.key, crop: :fill, class: "card pokemon-card-img-booking" %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselShowPokemon" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselShowPokemon" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card booking-main">

      <div class="pokemon-details">
        <h1>Reserve <%= @pokemon.name %></h1>
        <h3><strong>Type:</strong> <%= @pokemon.pokemon_type %></h3>
        <p>ℹ️ <%= @pokemon.description %></p>
        <p>📍 <%= @pokemon.location %></p>
      </div>

      <%= simple_form_for [@pokemon, @booking], data: { controller: "price" } do |f| %>
        <div class="booking-details">
          <div class="input-group-booking">
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", target: "price.startDate", action: "input->price#updateTotalPrice" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", target: "price.endDate", action: "input->price#updateTotalPrice" } } %>
          </div>
        <%= f.submit "Reserver", class: "btn-booking" %>
        </div>

        <div class="booking-price">
          <p>Price per day: <span id="pricePerDay"><%= @pokemon.price %></span>€
          <br><strong>Total price: <span id="total-price" data-price-target="totalPrice"></span></strong></p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Map -->
  <div class="card map-container" data-controller="map" data-map-marker-value="<%= @marker.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"><%= image_tag "logo.png", height: 30, width: 30, alt: "Logo" %></div>
</div>
