<!-- Hero Start -->
<div class="cover-hp p-5 text-center bg-image rounded-3" style="background-image: url('<%= asset_path('banniere.jpeg') %>');">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div>
      <h1 class="homepage mb-3">PokéBNB</h1>
      <h2 class="homepage mb-5">Une large sélection de Pokemon à louer.</h2>
    </div>
  </div>
</div>
<%= form_with(url: root_path, method: "get", local: true, html: { class: "search-form d-flex justify-content-end" }) do |form| %>
    <%= form.text_field :search, placeholder: "Cherche ton Pokémon selon son type ou son nom !", class: "form-control mb-2 me-2" %>
  <div>
    <%= form.submit "Rechercher", class: "btn btn-danger submit-button text-white" %>
  </div>
<% end %>


<!-- Main container -->
<div class="container py-5">
  <h3 class="rounded-background">🌱 Pokémon disponibles</h3>
  <% if @pokemons.empty? %>
    <p>Aucun résultat trouvé !</p>
  <% else %>
    <!-- Cards -->
    <div class="cards-container">
      <div class="cards-hp">
        <% @pokemons.each do |pokemon| %>
          <div class="card-hp" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= pokemon.images.first.url %>')">
            <%= link_to "", new_pokemon_booking_path(pokemon[:id]) %>
            <%= link_to pokemon[:name], new_pokemon_booking_path(pokemon) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
