<div class="container">
  <div class="row justify-content-center align-items-center pokemon-show-container mt-5 mb-5">
    <div class="col-md-4 pokemon-card pokemon-card-shadow">

      <div id="carouselShowPokemon" class="carousel slide">
      <div class="pokemon-card-body">
        <div class="carousel-inner">
          <% @pokemon.images.each_with_index do |image, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= cl_image_tag image.key, crop: :fill, class: "pokemon-card-img" %>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselShowPokemon" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselShowPokemon" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>
          <% end %>
        </div>

        </div>
          <div class="pokemon-card">
            <div class="pokemon-card-body">
              <h2 class="pokemon-card-title text-center"><%= @pokemon.name %></h2>
              <br>
              <p class="pokemon-card-text text-start"><strong>Description:</strong> <br> <%= @pokemon.description %></p>
              <p class="pokemon-card-text text-start"><strong>Pokemon type:</strong> <br> <%= @pokemon.pokemon_type %></p>
              <p class="pokemon-card-text text-start"><strong>Location:</strong> <br> <%= @pokemon.location %></p>
              <p class="pokemon-card-text text-start"><strong>Price:</strong> <br> <%= @pokemon.price %> €</p>
              <div class="pokemon-button-group d-flex justify-content-between">
                <%= link_to "Back to Pokemons", pokemons_path, class: "pokemon-btn btn btn-light" %>
                <%= link_to "Edit Pokemon", edit_pokemon_path(@pokemon), class: "pokemon-btn btn btn-yellow" %>
                <%= link_to "Delete pokemon", pokemon_path(@pokemon), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: "pokemon-btn-delete btn btn-danger" %>
              </div>
            </div>
        </div>
      </div>
<br>
<br>
      <div>
        <br>
          <% @reviews.each do |review| %>
            <div class="pokemon-card pokemon-card-shadow p-3 mb-3">
              <div class="pokemon-card-body">
              <p><strong><%=User.find(review.user_id).email%></strong><p>
                <%= review.comment %>
              <% if review.rating == 5%>
                <%="⭐⭐⭐⭐⭐"%>
              <% elsif review.rating == 4%>
                <%="⭐⭐⭐⭐"%>
              <% elsif review.rating == 3%>
                <%="⭐⭐⭐"%>
              <% elsif review.rating == 2%>
                <%="⭐⭐"%>
              <% elsif review.rating == 1%>
                <%="⭐"%>
              <% end %>
              </div>
            </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
